<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<h5 class="my-0 mr-md-auto font-weight-normal">Employee Management</h5>
<nav class="my-2 my-md-0 mr-md-3" style="margin-left:870px;">
<a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-employee">Select User</a>
<a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/users-list" style="margin-left:10px;">Users List</a>
</nav>
</div>
<router-outlet></router-outlet>
